	<!--Carousel-->
	
		<div id="carousel-example" class="carousel slide" data-ride="carousel">
	  
	  <!-- Indicators -->
		  <ol class="carousel-indicators">
			<li data-target="#carousel-example" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example" data-slide-to="1"></li>
			<li data-target="#carousel-example" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  
		  
		  <div class="carousel-inner">
			<div class="item active">
				<a href="#"><img src="http://placehold.it/1800x500/6fc6d4"></a>
					<div class="container">
						<div class="carousel-caption">						
							<h1>Phase 2</h1>
							<!-- <p>Hmm, nice.</p>  -->
						</div>	
					</div>	
			</div>
				
			<div class="item">
				<a href="#"><img src="http://placehold.it/1800x500/723639"></a>
					<div class="container">
						<div class="carousel-caption">
							<h1>Passion</h1>
							<!-- <p>Mean green.</p>  -->
						</div>	
					</div>		
			</div>
			
			<div class="item">
				<a href="#"><img src="http://placehold.it/1800x500/371d51"></a>
					<div class="container">
						<div class="carousel-caption">
							<h1>Project</h1>
							<!-- <p>Kinda drab.</p>  -->
						</div>	
					</div>		
			</div>
				  
		</div>	
		
		  <!-- Controls -->
		  
		  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>
